<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css"/>
    <title>Document</title>
</head>
<body>
    <img src="images/image.png">

    <form>
        
        <h1>Cadastrar funcionário</h1>
        <label for="nome">Nome</label>
        <input id="nome" type="text" name="nome" placeholder="Digite o nome" />


        <label for="Email">Email</label>
        <input id="Email" type="email" name="Email" placeholder="Digite o email" />


        <label for="dataadm">Data de admissão</label>
        <input id="dataadm" type="date" nome="dataadm" />


        <label for="salario">Salário</label>
        <input id="salario" type="text" placeholder="Digite o Salário" />



        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>